*{
    box-sizing: border-box;
}
#side-container{
    height:99vh;
    width: 12vw;
    background-color: #CEF3FF;
    padding:10px;
}
#logo{
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 61px;
color: #0884FF;
font-family: 'Titillium Web';
}
#dashboard{
    display: inline;
    margin-left: 10px;
    font-weight: bold;
}
#all-contact-button{
width: 135px;
height: 40px;
background: #2DA5FC;
border-radius: 6px;
display: flex;
align-items: center;
justify-content: center;
color: #fff;
text-decoration: none;
margin-top: 100px;
}
#all-contact-button:hover{
    background-color: darkslategray;
}
#total-contact{
    display: inline;
    margin-left:5px;
}
#logout-text{
    display: inline;
    margin-left:5px;
}
#sb-btn{
    position: relative;
    top: 300px;
    border: none;
    width:136px;
}